name: Finivo CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Install dependencies only (no alembic, no tests)
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Done
        run: echo "CI workflow completed"
